<%= render "shared/navigationBar", header: "", tag_line: "", alignment: "text-center" %>
<div class="jumbotron <%= alignment %> bg-blue text-dark">
    <h1 style="color: black"><%= header %></h1>
    <p><%= tag_line %> </p>
</div>