<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
<<<<<<< HEAD
  <a class="navbar-brand" href="/">CornHub Blog</a>
=======
  <a class="navbar-brand" href="/posts">CornHub Blog</a>
>>>>>>> 5f7b8ef7371d5839f326f56d498683d1e7daaa39
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Home <span class="sr-only">(current)</span></a>
      </li>
<<<<<<< HEAD
      <li class="nav-item active">
      <% if !check_login then %>
        <a class="nav-link" href="/users/new"> Register <span class="sr-only">(current)</span></a>
      <% end %>
      </li>
      <li class="nav-item active">
        <% if !check_login then %>
          <a class="nav-link" href="/login"> Login <span class="sr-only">(current)</span></a>
        <% else %>
          <a class="nav-link" href="/logout"> Logout <span class="sr-only">(current)</span></a>
        <% end %>
      </li>
    </ul>
=======
>>>>>>> 5f7b8ef7371d5839f326f56d498683d1e7daaa39
  </div>
</nav>