<<<<<<< HEAD
<%= render "shared/jumbotron", header: "New Post", tag_line: "", alignment: "text-center" %>

<%= render 'form', post: @post, user: @user %>
=======
<h1>New Post</h1>

<%= render 'form', post: @post %>
>>>>>>> 5f7b8ef7371d5839f326f56d498683d1e7daaa39

<%= link_to 'Back', posts_path %>
